<div class="login">
  <h2 class="login-header">Register</h2>
  <form class="login-container">
    <p>
      <input type="text" placeholder="Name" required [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (keydown)="monitorForm()">
    </p>
    <p>
      <input type="email" placeholder="Email" required [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
        (keydown)="monitorForm()">
    </p>
    <p>
      <input type="password" placeholder="Password" required [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
        (keydown)="monitorForm()">
      <label>Your password needs to be 6 or more characters.</label>
    </p>
    <p>
      <button [disabled]="formDisabled" mat-raised-button color="primary" (click)="registerUser()">
        Register
      </button>
    </p>
  </form>
  <p class="link-to-register">Already have an account?
    <button mat-raised-button color="primary" (click)="goToLogin()">
      Go to Login
    </button>
  </p>
</div>
