@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway');

$Lato: 'Lato',
sans-serif;
$Montserrat: 'Montserrat',
sans-serif;
$Raleway: 'Raleway',
sans-serif;

.sidenav-link {
    width: 200px;
    height: 35px;
    margin: 20px 0 20px 0;
    padding: 5px;
}

.single-button {
  font-family: $Raleway;
  font-size: 24px;
}

.header-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.page-title {
  padding: 2rem;
}

.login-register-options {
  margin-left: auto;
}
