<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <ul>
      <li (click)="goHome()">Home</li>
      <li (click)="goToMyBookings()">My Bookings</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-cointainer">
      <header class="header-container">
        <mat-toolbar color="primary">
          <div class="header-items-container">
            <div class="menu-button">
              <p><button mat-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button></p>
            </div>
            <div class="page-title" (click)="goHome()">
              <p>Room Booking</p>
            </div>
            <span class="spacer"></span>
            <div class="login-register-options">
              <div class="login-link" *ngIf="showLoginLink" (click)="goToLogin()">Login</div>
              <div class="register-link" *ngIf="showRegisterLink" (click)="goToRegister()">Register</div>
            </div>
          </div>
        </mat-toolbar>
      </header>
      <main class="router-outlet-containter">
        <router-outlet></router-outlet>
      </main>
      <footer class="footer-container">
        <mat-toolbar>Footer</mat-toolbar>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
