@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway');

$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;

body {
  margin: 0;
  font-family: $Lato;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.avaliable-color {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: green;
}

.not-avaliable {
  background-color: red;
}

.page-title-contianer {
  padding: 1rem;
}

.page-title-text {
  font-family: $Raleway;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.room-info-text {
  font-family: $Raleway
}
